<div class="container mb-5">
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <b>LEGO WEBSTORE</b>
            <br>
            <p>Maison de la Recherche Blaise Pascal<br> 50 rue Ferdinand Buisson<br> 62228, Calais</p>
        </div>
        <div>
            <img src="/images/logo_lego.jpg" height="60px" width="60px">
            <p>WebStore</p>
        </div>
    </div>
</div>